body{ 	padding-left: 15px;
 }

.content {
	padding-top: 15px;
	font-size: 12px;
	line-height: 1.5;

}

#header-row {
	padding-top: 20px;
}

#email a {
	color: #bdbdbd;
text-decoration: none;

}

element.style {
}
strong {
    font-weight: 600;
}
b, strong {
    font-weight: bold;
}
}

a:active {
    color: #000000;
    background-color: #ffff00;
    text-decoration: none;
}
a {
    color: #000000;
    text-decoration: none;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }


/* for horizontal gallery */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  .card {
    display: inline-block;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .card {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}

.card {
  width: 80%;
  height: 80%;
  box-shadow: none;
  -webkit-box-shadow: none;

}

.card img {
  max-width: 28vw; 
  max-height: 75vh; 
}

.scrolling-wrapper, .scrolling-wrapper-flexbox, .scrolling-wrapper-flexbox-02 {
  height: 600px;
  width: 90%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrolling-wrapper-flexbox-02 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .card {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}