body{ 	padding-left: 15px;
 }

.content {
	padding-top: 15px;
	font-size: 12px;
	line-height: 1.5;

}

#header-row {
	padding-top: 20px;
}

#email a {
	color: #bdbdbd;
text-decoration: none;

}

a:active {
    color: #000000;
    background-color: #ffff00;
    text-decoration: none;
}
a {
    color: #000000;
    text-decoration: none;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  width: 85%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}



.card {
  display: flex;
  min-width: 90%;
  min-height: 200px;
  overflow-x: auto;
}

.card::-webkit-scrollbar {
  display: none;
}
.card--content {
  min-width: 300px;
  margin: 5px;
  box-shadow: 3px 5px rgba(255,255,255,0.05);
}

.card--content img {
  width: 75%;
  height: 75%;
}